/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    font-family: sans-serif-bold;
    color: #e91e63;
}

#primary-nav {
    background-color: #e91e63 !important;
}

#pink-button {
    border-color: #e91e63;
    color: #e91e63;
}

#pink-button:hover {
    background-color: #e91e63;
    color: white;
}

#gray-button {
    border-color: #868e96;
    color: #868e96;
}

#gray-button:hover {
    background-color: #868e96;
    color: white;
}